{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <article>
            <h3> Bydgoska Szkoła Wyższa w Bydgoszczy </h3>
            <div class="full_article">
                <img class="img_small_photo" src="{% static 'img/BSW_logo.png' %}" alt="">
            </div>
            <p> <b>Bydgoska Szkoła Wyższa to bezwydziałowa</b>, niepubliczna uczelnia zawodowa. Proces dydaktyczny
                realizowany jest na studiach licencjackich i inżynierskich (I stopnia) oraz podyplomowych. W 2011
                ofertę edukacyjną tworzyło 10 kierunków studiów i ok. 40 specjalności na studiach stacjonarnych i
                niestacjonarnych[2]. W ofercie edukacyjnej BSW znajdują się również kursy, które umożliwiają
                uzyskanie dodatkowych certyfikatów. Przy uczelni działa Uniwersytet Otwarty oraz Policealna Szkoła
                "Edukator".
            </p>
            <img class="img_full_article" src="{% static 'img/BSW_pierwsze_zdjecie.jpg' %}" alt="">
            <p><b>Bydgoska Szkoła Wyższa jest uczelnią niepubliczną</b>, istniejącą od 2004 roku. Decyzją Ministra
                Nauki i
                Szkolnictwa Wyższego Nr MEN-DSW-3-4001-731/JG/04 została wpisana do rejestru uczelni niepublicznych
                pod numerem 163 jako Wyższa Szkoła Informatyki i Nauk Społeczno–Prawnych w Bydgoszczy.
                Założycielem szkoły było Centrum Nauki i Szkolnictwa „Edukator” sp. z o.o.</p>
            <p>Początkowo szkoła oferowała kierunek administracja, a od 2006 roku także kierunki zarządzanie i
                inżynieria produkcji. W 2007 roku zmieniła nazwę na Wyższa Szkoła Informatyki i Przedsiębiorczości oraz
                uzyskała zgodę na prowadzenie studiów zawodowych na kierunkach: zdrowie publiczne, logistyka,
                fizjoterapia, kosmetologia, dietetyka oraz filologia. W 2009 roku nastąpiła zmiana nazwy na obecną. W
                roku 2010 wzbogacono ofertę o nowe kierunki nauczania: pedagogika i budownictwo, a w 2011 – o
                bezpieczeństwo narodowe.</p>
            <p> Bydgoska Szkoła Wyższa to bezwydziałowa, niepubliczna uczelnia zawodowa. Proces dydaktyczny realizowany
                jest na studiach licencjackich i inżynierskich (I stopnia) oraz podyplomowych. W 2011 ofertę edukacyjną
                tworzyło 10 kierunków studiów i ok. 40 specjalności na studiach stacjonarnych i niestacjonarnych. W
                ofercie edukacyjnej BSW znajdują się również kursy, które umożliwiają uzyskanie dodatkowych
                certyfikatów. Przy uczelni działa Uniwersytet Otwarty oraz Policealna Szkoła "Edukator".</p>
        </article>
{% endblock %}