{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <article>
            <h3> Kazimierza Wielkiego w Bydgoszczy (UKW) </h3>
            <div class="full_article">
                <img class="img_small_photo" src="{% static 'img/UKW_logo.jpg' %}" alt="">
            </div>
            <p> <b>Publiczna uczelnia (uniwersytet
                    pełnoprofilowy) w Bydgoszczy</b>, której geneza sięga 1969 r. Jej struktura organizacyjna oraz
                nazwa
                była
                zmieniana trzykrotnie:
            </p>
            <ul>
                <li>
                    <p>Lata 1969–1974: Wyższa Szkoła Nauczycielska z trzema wydziałami – Humanistycznym,
                        Matematyczno-Przyrodniczym i Pedagogicznym;</p>
                </li>
                <li>
                    <p>Lata 1974–2000: Wyższa Szkoła Pedagogiczna realizująca kształcenie pedagogiczne, a od
                        końca
                        lat 80. XX w. – oferująca także kierunki uniwersyteckie;</p>
                </li>
                <li>
                    <p>Lata 2000–2005: Akademia Bydgoska im. Kazimierza Wielkiego;
                    </p>
                </li>
                <li>
                    <p>Od 2005 r.: Uniwersytet Kazimierza Wielkiego w Bydgoszczy – powstał 13 maja 2005.
                    </p>
                </li>
            </ul>
            <img class="img_full_article" src="{% static 'img/UKW_pierwsze zdjęcie.jpg' %}" alt="">
            <p><b>Uniwersytet jest największą uczelnią w mieście</b> i drugą w regionie
                kujawsko-pomorskim pod względem liczby profesorów, studentów i absolwentów, jak również liczby
                oferowanych kierunków studiów i form kształcenia. Proces dydaktyczny realizowany jest na studiach
                licencjackich i inżynierskich (I stopnia), magisterskich uzupełniających (II stopnia) oraz
                doktoranckich (III stopnia). Uniwersytet prowadzi również studia podyplomowe o kilkudziesięciu
                specjalnościach. Ofertę edukacyjną tworzy ok. 100 kierunków studiów i specjalności. W 2010 na UKW
                studiowało 14 tysięcy studentów, z czego ok. 33% stanowiły osoby spoza regionu kujawsko-pomorskiego. W
                tym roku na uczelni pracowało ok. 1100 osób, w tym 665 nauczycieli akademickich, 150 profesorów (w tym
                60 tytularnych).</p>
            <p>W 2010 wydziały Uniwersytetu posiadały dziewięć uprawnień nadawania stopnia naukowego doktora
                (literaturoznawstwo, językoznawstwo, pedagogika, psychologia, historia, nauka o polityce,
                dyrygentura,
                biologia, mechanika) oraz dwa uprawnienia do nadawania stopnia doktora habilitowanego (pedagogika,
                historia).</p>
            <p> Uczelnia bierze udział w wielu projektach badawczych oraz współpracuje z jednostkami polskimi i
                zagranicznymi (w 2010 41 umów z uczelniami z 18 krajów). UKW prowadzi od 1999 bydgoski Ogród
                Botaniczny
                (arboretum) oraz liczne inicjatywy ukierunkowane na lokalną społeczność, m.in. Bydgoski Festiwal
                Nauki,
                Uniwersytet Trzeciego Wieku, Muzeum Dyplomacji i Uchodźstwa Polskiego, Szkołę NATO, Stowarzyszenie
                Etyki Słowa, Szlaki Pamięci oraz liczne konkursy i imprezy plenerowe. Osada wioślarska UKW co
                roku
                uczestniczy w regatach Wielka Wioślarska o Puchar Brdy, gdzie rywalizuje z osadami uczelni
                europejskich, w tym Oxfordu i Cambridge. Od 2008 uczestniczy również w prestiżowych regatach w
                Henley-on-Thames na Tamizie.</p>
            <img class="img_full_article" src="{% static 'img/UKW_drugie_zdjecie.jpg' %}" alt="">
            <p>W 2004 grupa ponad 100 posłów złożyła w Kancelarii Sejmu wniosek o przekształcenie Akademii
                Bydgoskiej w uniwersytet. 21 kwietnia 2005 Sejm RP przyjął ustawę o powołaniu Uniwersytetu
                Kazimierza Wielkiego w Bydgoszczy. 13 maja 2005 podpis pod ustawą złożył Prezydent
                Rzeczypospolitej Polskiej.</p>
            <p>W okresie 2005–10 uczelnia uzyskała kolejne cztery uprawnienia do nadawania stopnia naukowego
                doktora. W 2009 powołano nowy Wydział Administracji i Nauk Społecznych. Listę kierunków studiów
                wzbogacono m.in. o: filozofię, socjologię, kulturoznawstwo, dziennikarstwo i komunikację
                społeczną.
                Wśród nauk przyrodniczych pojawiły się: biotechnologia, ochrona środowiska, turystyka i
                rekreacja,
                mechatronika i inne. Poza tym uczelnia nadal jest głównym ośrodkiem kształcenia kadr
                pedagogicznych
                i psychologicznych w regionie kujawsko-pomorskim. Po 2005 podjęto remonty zabytkowych budynków
                w
                gestii uczelni (Copernicanum, budynki Instytutów Rolniczych, główny kampus przy ul.
                Chodkiewicza)
                oraz domów studenta.</p>
            <p>Od 2009 UKW realizowała dwa europejskie projekty inwestycyjne poszerzające bazę materialną
                uczelni:
                budowę gmachu Biblioteki Głównej przy ul. Michała Kleofasa Ogińskiego, ukończoną w październiku
                2013 (dofinansowanie z UE 42 mln zł) oraz oddane do użytku w lutym 2013 Uczelniane Centrum
                Edukacji
                Kultury Fizycznej i Sportu przy kompleksie „Polonii” (dofinansowanie z UE 21 mln zł). Ze
                środków UE zrealizowano również rozbudowę Laboratorium Mikotoksyn.</p>
            </div>
        </article>
{% endblock %}