{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <article>
            <h3> Collegium Medicum Uniwersytetu Mikołaja Kopernika </h3>
            <div class="full_article">
                <img class="img_small_photo" src="{% static 'img/UMK_logo.png' %}" alt="">
            </div>
            <p> <b>Collegium Medicum im. Ludwika Rydygiera w Bydgoszczy</b> (do
                24 listopada 2004 r. Akademia Medyczna w Bydgoszczy) – część bydgoska Uniwersytetu Mikołaja
                Kopernika ukierunkowana na kształcenie studentów w naukach medycznych, zlokalizowana w Bydgoszczy.
                Według rankingu Wprost z 2012 roku zajmuje 9. miejsce wśród uczelni medycznych w Polsce.
            </p>
            <img class="img_full_article" src="{% static 'img/UMK_pierwsze_zdjecie.jpg' %}" alt="">
            <p>Według Webometrycznego Rankingu Uniwersytetów Świata ze stycznia 2015, pokazującego zaangażowanie
                instytucji akademickich w istnieniu w sieci Web, uczelnia zajmuje 3. miejsce w Polsce wśród
                uniwersytetów medycznych, a na świecie 3673. pośród wszystkich typów uczelni</p>
            <p>Collegium Medicum UMK to wyodrębniona część Uniwersytetu Mikołaja Kopernika, zlokalizowana w Bydgoszczy,
                posiadająca trzy wydziały, kształcąca na jedenastu kierunkach i kilku specjalnościach ramach tych
                kierunków. Bazą uczelni oprócz licznych budynków dydaktycznych i administracyjnych są dwa Szpitale
                Uniwersyteckie w Bydgoszczy: nr 1 im. dr. Antoniego Jurasza oraz nr 2 im. dr. Jana Biziela. Ponadto
                jednostki organizacyjne uczelni działają też w innych placówkach w Bydgoszczy: Centrum Onkologii im.
                prof. F. Łukaszczyka, Hospicjum im. ks. Jerzego Popiełuszki, Kujawsko-Pomorskim Centrum Pulmonologii,
                Wojewódzkim Szpitalu Obserwacyjno-Zakaźnym oraz w placówkach w Toruniu: Wojewódzkim Szpitalu Zespolonym
                im. L. Rydygiera i Wojewódzkim Szpitalu Dziecięcym. Dodatkowo uczelnia prowadzi działalność dydaktyczną
                w 10 Wojskowym Szpitalu Klinicznym z Polikliniką w Bydgoszczy. Uczelnia posiada dwa domy akademickie: w
                centrum miasta przy ul. Jagiellońskiej 13 oraz w dzielnicy Fordon przy ul. Bartłomieja z Bydgoszczy.</p>
            <p> Proces dydaktyczny realizowany jest na studiach licencjackich (I stopnia), magisterskich (II stopnia)
                oraz doktoranckich (III stopnia – Wydział Lekarski, Wydział Nauk o Zdrowiu). Prowadzi się również
                studia podyplomowe. W 2010 roku na Collegium Medicum UMK studiowało 5,26 tys. studentów, z tego na
                studiach stacjonarnych 3,78 tys. W 2004 roku na uczelni pracowało 495 nauczycieli akademickich, w tym
                85 profesorów, 148 adiunktów i 181 asystentów[6]. Pracownicy zatrudnieni w Collegium Medicum w
                Bydgoszczy stanowią liczbowo 30% potencjału całego Uniwersytetu Mikołaja Kopernika, zaś studenci –
                17%. Obok działalności dydaktyczno-wychowawczej i naukowo-badawczej, uczelnia prowadzi wysoko
                specjalistyczną działalność leczniczą dla całego regionu kujawsko-pomorskiego.</p>
            <p>W 2010 wydziały uczelni posiadały pięć uprawnień nadawania stopnia naukowego doktora (medycyna, biologia
                medyczna, pielęgniarstwo, zdrowie publiczne, fizjoterapia) oraz dwa uprawnienia do nadawania stopnia
                doktora habilitowanego (medycyna, biologia medyczna)</p>
        </article>
{% endblock %}