{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <article>
            <h3>Uniwersytet Technologiczno-Przyrodniczy im. Jana i Jędrzeja Śniadeckich w Bydgoszczy </h3>
            <div class="full_article">
                <img class="img_small_photo" src="{% static 'img/utp_logo.png' %}" alt="">
            </div>
            <p> <b>Uniwersytet Technologiczno-Przyrodniczy im. Jana i Jędrzeja Śniadeckich w Bydgoszczy (UTP)</b> –
                największa i najstarsza państwowa uczelnia wyższa w Bydgoszczy.

                Według Webometrycznego Rankingu Uniwersytetów Świata ze stycznia 2015, pokazującego zaangażowanie
                instytucji akademickich w istnieniu w sieci Web, uczelnia zajmuje 16. miejsce w Polsce wśród
                uczelni technicznych, a na świecie 2412. pośród wszystkich typów uczelni.

                Uniwersytet Technologiczno-Przyrodniczy jest najstarszą publiczną uczelnią bydgoską, której geneza
                sięga 1951 (nie licząc półakademickiej Akademii Rolniczej istniejącej w Bydgoszczy w latach
                1920–1923). Uczelnia trzykrotnie zmieniała swój charakter, strukturę organizacyjną oraz nazwę:
            </p>
            <ul>
                <li>
                    <p>lata 1951–1964: Wieczorowa Szkoła Inżynierska z dwoma wydziałami – Mechanicznym i Chemicznym;</p>
                </li>
                <li>
                    <p>lata 1964–1974: Wyższa Szkoła Inżynierska realizująca kształcenie na czterech wydziałach
                        technicznych w systemie dziennym, wieczorowym i zaocznym;</p>
                </li>
                <li>
                    <p>lata 1974–2006: Akademia Techniczno-Rolnicza, po połączeniu WSI z bydgoską Filią Akademii
                        Rolniczej w Poznaniu;
                    </p>
                </li>
                <li>
                    <p>od 2006: Uniwersytet Technologiczno-Przyrodniczy
                    </p>
                </li>
            </ul>
            <img class="img_full_article" src="{% static 'img/utp_pierwsze_zdjecie.jpeg' %}" alt="">
            <p><b>Uniwersytet Technologiczno-Przyrodniczy w Bydgoszczy to uczelnia o siedmiu wydziałach.</b> Sześć
                wydziałów UTP posiada uprawnienia do nadawania stopnia naukowego doktora, a 4 spośród nich także do
                nadawania stopnia doktora habilitowanego z możliwością przeprowadzania postępowania o nadanie
                tytułu naukowego profesora (wydziały: Inżynierii Mechanicznej, Rolnictwa i Biotechnologii, Hodowli
                i Biologii Zwierząt oraz Budownictwa, Architektury i Inżynierii Środowiska). Specyfiką uczelni jest
                nacisk na realizację prac badawczych w zakresie techniki i przyrody we współpracy z uczelniami
                krajowymi i zagranicznymi. Uczelnia współpracuje z miejscowymi przedsiębiorstwami oraz jest
                udziałowcem Bydgoskiego Parku Przemysłowego. Każdego roku jest organizatorem kilkudziesięciu
                konferencji naukowych. Proces dydaktyczny realizowany jest na studiach inżynierskich,
                magisterskich, podyplomowych i doktoranckich.</p>
            <p> Obecnie uczelnia kształci ok. 10 tys. studentów na 33 kierunkach, 90 specjalnościach. Mury uczelni
                opuściło ponad 55 tys. absolwentów. Absolwentami uczelni są m.in. projektant stadionu olimpijskiego
                w Sydney mgr inż. Edmund Obiała oraz kryptolog prof. Józef Pieprzyk. W ogólnopolskich rankingach
                uczelni wyższych w latach 2004–2010 UTP plasował się najwyżej z publicznych uczelni bydgoskich.</p>
            <p> Uniwersytet prowadzi także inicjatywy ukierunkowane na lokalną społeczność, m.in. Bydgoski Festiwal
                liczne imprezy plenerowe, np. Bieg Mostami Bydgoszczy.</p>
        </article>
{% endblock %}