{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <article>
            <h3>
                Wyższa Szkoła Bankowa w Toruniu Wydział Finansów i Zarządzania w Bydgoszczy </h3>
            <div class="full_article">
                <img class="img_small_photo" src="{% static 'img/WSB_logo.jpg' %}" alt="">
            </div>
            <p> <b>Wyższa Szkoła Bankowa w Toruniu Wydział Finansów i Zarządzania w Bydgoszczy</b> stanowi jednostkę
                dydaktyczno-naukową toruńskiej, niepublicznej Wyższej Szkoły Bankowej (utworzonej 27 sierpnia
                1998r.), funkcjonująca w Bydgoszczy od 2007 roku. Łącznie oba wydziały stanowią największą
                niepubliczną uczelnię w województwie pod względem liczby studentów.
            </p>
            <img class="img_full_article" src="{% static 'img/WSB_pierwsze_zdjecie.jpg' %}" alt="">
            <p><b>Wyższa Szkoła Bankowa w Toruniu jest niepubliczną uczelnią zawodową założoną z inicjatywy Towarzystwa
                    Edukacji Bankowej. WSB to pierwsza w Toruniu niepubliczna uczelnia biznesowa. Od 20 lat kształci
                    studentów na kierunkach o charakterze ekonomicznym, gospodarczym i finansowym. Dwudziestoletni
                    dorobek to świadectwo nie tylko stabilnej pozycji, ale profesjonalnej kadry oraz wypracowanych
                    metod dydaktycznych. W 2007 roku uruchomiony został zamiejscowy Wydział Finansów i Zarządzania w
                    Bydgoszczy.</p>
            <p>Wydział powstał w wyniku Decyzji Ministra Nauki i Szkolnictwa Wyższego z dnia 22 lutego 2007 roku pn.
                Zamiejscowy Wydział Finansów i Zarządzania w Bydgoszczy i otrzymał uprawnienia do kształcenia w ramach
                studiów I stopnia na dwóch kierunkach: finanse i rachunkowość oraz zarządzanie. W 2008 oferta
                edukacyjna powiększyła się o administrację a w 2010 o logistykę i socjologię. W 2011 otwarto studia
                magisterskie na kierunku zarządzanie. W 2013 roku WSB otrzymała pozytywną opinią PKA do kształcenia na
                studiach I stopnia na kierunku Inżynieria Zarządzania oraz na studiach II stopnia na kierunku
                Logistyka, a także uruchomiono studia MBA- Master of Business Administration we współpracy z
                amerykańską uczelnią Franklin University. Poza tym WSB w Bydgoszczy oferuje kształcenie na studiach
                podyplomowych, zajęcia na Uniwersytecie Każdego Wieku, szkolenia i kursy językowe w ramach Centrum
                Języków Obcych oraz edukację dofinansowaną z EFS.</p>
        </article>
{% endblock %}