{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <article>
            <h3> Wyższa Szkoła Gospodarki w Bydgoszczy </h3>
            <div class="full_article">
                <img class="img_small_photo" src="{% static 'img/WSG_logo.jpg' %}" alt="">
            </div>
            <p> <b>Wyższa Szkoła Gospodarki</b> to uczelnia o dziewięciu wydziałach, pod względem liczby studentów i
                kadry naukowej jedna z największych uczelni niepublicznych w regionie kujawsko-pomorskim.
            </p>
            <img class="img_full_article" src="{% static 'img/WSG_pierwsze_zdjecie.jpg' %}" alt="">
            <p>Proces dydaktyczny realizowany jest na studiach licencjackich i inżynierskich (I stopnia) oraz
                magisterskich (II stopnia). Prowadzi również studia podyplomowe w ok. 80 specjalnościach. Przy
                uczelni działa także m.in. Centrum Europejskie, Centrum Kultury Medialnej, Inkubatory
                Przedsiębiorczości, In-Lab, Studencka Strefa Biznesowa, Przedszkole Akademickie, Żłobek Uczelniany,
                Sieć Uniwersytetów Trzeciego Wieku (w sumie 26 lokalizacji), Szkoła Języków Obcych oraz Centrum
                Tłumaczeń Specjalistycznych.</p>
            <p>W 2011 roku ofertę edukacyjną tworzyło 17 kierunków studiów i ok. 100 specjalności. W tym czasie na WSG
                studiowało 8 tysięcy studentów (w tym kilkudziesięciu z zagranicy), a kadra naukowa liczyła ok. 450
                nauczycieli akademickich. Oprócz Bydgoszczy uczelnia prowadzi nauczanie w ośrodkach zamiejscowych w
                Ełku i Słupsku, posiada zamiejscowe Wydziały Zarządzania w Inowrocławiu i Malborku, zamiejscowy Wydział
                Techniczny w Toruniu (od 2011 r.), Wydział Biznesu i Techniki w Pile oraz Wydział Nauk Stosowanych w
                Chojnicach, a także najmłodszy wydział w Działdowie. Współpracuje również z uczelniami zagranicznymi z
                Francji i Niemiec, co umożliwia studentom zdobycie podwójnego dyplomu (polskiego i zagranicznego) na
                specjalności turystyka. Przy Uczelni działają dwa konsulaty honorowe: Ukrainy oraz Słowacji.</p>
            <p> Uczelnia bierze udział w wielu projektach badawczych oraz współpracuje z przedsiębiorcami, instytucjami
                kultury i samorządami. Prowadzi placówki kulturalne m.in. Akademicką Przestrzeń Kulturalną, Galerię nad
                Brdą, Muzeum Fotografii oraz liczne inicjatywy ukierunkowane na lokalną społeczność, m.in. Bydgoski
                Festiwal Nauki, Uniwersytet Trzeciego Wieku i inne. Osada wioślarska WSG co roku uczestniczy w regatach
                Wielka Wioślarska o Puchar Brdy, gdzie rywalizuje z osadami uczelni europejskich.</p>
        </article>
{% endblock %}