{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h1>Zobacz nasze miasto</h1>
    <div id="arrow"><i class="fas fa-angle-down" aria-hidden="true"></i></div>
    <section class="promotion">
        <h2>Bydgoszcz - film promocyjny</h2>
        <iframe class="promotion" src="https://www.youtube.com/embed/sdXjRwm8KvM" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </section>
    <section class="promotion">
        <h2>Bydgoszcz - emocje gwarantowane </h2>
        <iframe class="promotion" src="https://www.youtube.com/embed/DFEem91xgxo" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </section>
    <section class="promotion">
        <h2>Film promujący Bydgoski węzeł wodny</h2>
        <iframe class="promotion" src="https://www.youtube.com/embed/SXp7ZE3IS4Q" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </section>
    <section class="promotion">
        <h2>Bydgoszcz - Podróż w czasie - cz. 1</h2>
        <iframe class="promotion" src="https://www.youtube.com/embed/g0Y1EAYd_cY" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </section>
    <section class="promotion">
        <h2>Bydgoszcz - Podróż w czasie - cz. 2</h2>
        <iframe class="promotion" src="https://www.youtube.com/embed/iGIt7ym6E7Y" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </section>
{% endblock %}