{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h1>Największe Bydgoskie kluby sportowe</h1>
    <div id="arrow"><i class="fas fa-angle-down" aria-hidden="true"></i></div>

    <section class="promotion">
        <iframe class="promotion" src="https://www.youtube.com/embed/evDSVaILS0o" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </section>

    <article class="clearfix">
        <h2>Zawisza Bydgoszcz</h2>
        <div class="full_article">
            <img class="img_small_photo" src="{% static 'img/zawisza.png' %}" alt="">
        </div>
        <p><b>Cywilno-Wojskowy Związek Sportowy Zawisza Bydgoszcz</b> – wielosekcyjny bydgoski klub sportowy,
            założony w
            1946 roku.</p>
        <p>Stowarzyszenia CWZS Zawisza zajmują się następującymi dyscyplinami:</p>
        <ul>
            <li>
                <p>lekkoatletyka</p>
            </li>
            <li>
                <p>podnoszenie ciężarów</p>
            </li>
            <li>
                <p>kajakarstwo
                </p>
            </li>
            <li>
                <p>wioślarstwo
                </p>
            </li>
            <li>
                <p>strzelectwo</p>
            </li>
            <li>
                <p>gimnastyka</p>
            </li>
            <li>
                <p>boks</p>
            </li>
        </ul>
        <p><b>Stadion im. Zdzisława Krzyszkowiaka w Bydgoszczy</b> – stadion lekkoatletyczny i piłkarski,
            wybudowany w
            latach 1957-1960 i gruntownie przebudowany w latach 2007-2008. Stadion jest własnością miasta
            Bydgoszczy, a jego zarządcą jest Cywilno-Wojskowy Związek Sportowy Zawisza. Obiekt spełnia standardy
            UEFA oraz posiada certyfikat First Class IAAF. W latach 2005–2011 stadion im. Zdzisława Krzyszkowiaka
            jako jedyny w Polsce spełniał normy IAAF i w związku z tym gościł najważniejsze imprezy lekkoatletyczne
            w kraju.</p>
        <img class="img_full_article" src="{% static 'img/zawisza_stadium.jpg' %}" alt="">
        <span class="link">
                    <i class="fas fa-link"></i><a href="http://www.zawisza.bydgoszcz.eu/">Szczegóły</a>
        </span>
    </article>

    <article class="clearfix">
        <h2>Chemik Bydgoszcz</h2>
        <div class="full_article">
            <img class="img_small_photo" src="{% static 'img/chemik_logo.jpg' %}" alt="">
        </div>
        <p><b>Chemik Bydgoszcz SA – polski męski klub siatkarski z siedzibą w Bydgoszczy.</b> Sekcja siatkarska
            klubu
            sportowego Chemik Bydgoszcz. W sezonie 2005/2006 zespół wywalczył awans do Polskiej Ligi
            Siatkówki.
            W latach 2007-2013 drużyna występowała w rozgrywkach pod nazwą Delecta Bydgoszcz, a w latach
            2013-2015 Transfer Bydgoszcz. Od sezonu 2015/2016 występuje pod nazwą Łuczniczka Bydgoszcz.
            20 czerwca 2018 roku zarząd oświadczył, że od sezonu 2018/19 z okazji 70-lecia klubu będzie
            występować pod nazwą Chemik Bydgoszcz.</p>

        <p><b>Hala Łuczniczka</b> jest to hala widowiskowo-sportowa w Bydgoszczy oddana do użytkowania 11
            października 2002.
            Może pełnić funkcje sportowe, wystawowe i koncertowe.
            Nazwa obiektu nawiązuje do symbolu Bydgoszczy, jakim jest posąg Łuczniczki, stojący w parku Jana
            Kochanowskiego, a także do faktu, że na miejscu zajmowanym przez halę mieściły się dawniej tory
            łucznicze, odbudowane następnie w sąsiedztwie kompleksu..</p>
        <img class="img_full_article" src="{% static 'img/luczniczka.jpg' %}" alt="">
        <span class="link"><i class="fas fa-link"></i><a href="https://www.luczniczkabydgoszcz.pl/">Szczegóły</a>
        </span>
    </article>

    <article class="clearfix">
        <h2>Polonia Bydgoszcz</h2>
        <div class="full_article">
            <img class="img_small_photo" src="{% static 'img/zawisza.png' %}" alt="">
        </div>
        <p><b>Polonia Bydgoszcz</b> – wielosekcyjny bydgoski klub sportowy, istniejący w latach 1920-2003.
            Bezpośrednim
            spadkobiercą klubu jest Klub Piłkarski Polonia Bydgoszcz, a także Żużlowy Klub Sportowy Polonia
            Bydgoszcz
            S.A., który nawiązuje do tradycji klubowej poprzez nazwę i symbolikę.
        <p>Podział sekcji Poloni:</p>
        <ul>
            <li>
                <p>Piłka Nożna ( Klub Piłkarski Polonia Bydgoszcz)</p>
            </li>
            <li>
                <p>Żużel (Żużlowy Klub Sportowy Polonia Bydgoszcz S.A)</p>
            </li>
        </ul>
        <p><b>Stadion Polonii im. Marszałka Józefa Piłsudskiego</b>
            Stadion Polonii Bydgoszcz im. Józefa Piłsudskiego ma bardzo bogatą tradycję. Kiedyś pełnił funkcję
            stadionu miejskiego, a jego otwarcia dokonał prezydent RP Stanisław Wojciechowski.

            Decyzje o budowie stadionu miejskiego w Bydgoszczy podjęto w 1922 r. Trwała ona 2 lata, a
            odpowiedzialny za nią był Komitet Wychowania Fizycznego. Uroczyste otwarcie miało miejsce 3
            sierpnia 1924 roku.</p>
        <img class="img_full_article" src="{% static 'img/polonia_stadium.jpg' %}" alt="">
        <span class="link"><i class="fas fa-link"></i><a href="http://kppoloniabydgoszcz.pl/">Szczegóły</a>
        </span>
    </article>
{% endblock %}