{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="card">
        <a href="{% url 'users:logout' %}">
            <button type="button" class="btn btn-primary btn-block">Wyloguj</button>
        </a>
    </div>
    <div class="card card-main">
        <div class="card-body">
            <h1>{{ current_user.username }}</h1>
            {% if current_user.email %}
                <h3>Email: {{ current_user.email }}</h3>
            {% endif %}
            <h3>Ostatnio zalogowany: {{ current_user.last_login }}</h3>
            {% if places_visited %}
                <h3>Odwiedzone:</h3>
                <ul></ul>
                {% for place in places_visited %}
                    <li>{{ place.title }}</li>
                {% endfor %}
            {% endif %}
            {% if places_to_visit %}
                <h3>Do odwiedzenia:</h3>
                <ul></ul>
                {% for place in places_to_visit %}
                    <li>{{ place.title }}</li>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}